@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&family=Lexend:wght@100..900&family=Livvic&display=swap");

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700|Oswald:400,300,700");
@import "tailwindcss";

@plugin "daisyui";

@theme {
  /*Fonts for List*/
  --font-livvic: "Livvic";
  --font-lexend: "Lexend", sans-serif;
  --font-commisioner: "Commisioner", sans-serif;
  /*Colours for list*/
  --list-blue: #366aa5;
  --list-text: #3e3e3e;
  --list-breadtext: #bcbcbc;
  --list-alert: #a53636;
}
